<div id="all">
  <header>
    <h1>Christinas Adventskalender</h1>
  </header>

  <div id="main">
    <div *ngIf="!this.loginEvent.getValue()" class="row align-items-center p-3">
      <div class="d-flex justify-content-center">
        <app-login (onLogin)="handleLogin($event)"></app-login>
      </div>
    </div>

    <div id="calendar" *ngIf="this.loginEvent.getValue()">
      <app-calendar-gallery></app-calendar-gallery>
    </div>
  </div>

  <footer>
    <a
      *ngIf="this.loginEvent.getValue()"
      routerLink="/credits"
      routerLinkActive="active"
      >Christinas Adventskalender</a
    >
    <div *ngIf="!this.loginEvent.getValue()">Christinas Adventskalender</div>
  </footer>
</div>

<!-- <div>
  <ng-template ngFor let-config [ngForOf]="snowFlakes">
    <snow-flake
      [depth]="config.depth"
      [speed]="config.speed"
      [startLeft]="config.left"
      [startTop]="config.top"
    ></snow-flake>
  </ng-template>
</div> -->
