<div id="calendar">
  <!-- <ngx-masonry
    [options]="masonryOptions"
    id="masonry-calendar"
    [ordered]="true"
  >
    <div
      ngxMasonryItem
      class="masonry-item"
      style="margin: 1rem"
      *ngFor="let gift of gifts"
    >
      <div
        class="d-flex justify-content-center"
        data-bs-toggle="modal"
        data-bs-target="#GalleryModal"
      >
        <app-calendar-door [content]="gift"></app-calendar-door>
      </div>
    </div>
  </ngx-masonry> -->
  <div class="row justify-content-center">
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[3]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[3]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[3]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
    <div class="col-sm-auto m-4">
      <app-calendar-door [content]="gifts[5]"></app-calendar-door>
    </div>
  </div>
</div>
