<div id="calendar">
  <!-- Beginn outter 2 rows -->
  <div class="row justify-content-center m-0 p-0">
    <!-- First inner col -->
    <div class="col-sm-auto p-0">
      <div class="row justify-content-center p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3">
            <app-calendar-door [content]="gifts[2]"></app-calendar-door>
          </div>
        </div>
      </div>
      <div class="row justify-content-center p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3">
            <app-calendar-door [content]="gifts[15]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Second inner col -->
    <div class="col-sm-auto p-0">
      <div class="row justify-content-center p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3">
            <app-calendar-door [content]="gifts[8]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Third inner col -->
    <div id="test" class="col-sm-auto">
      <div class="row justify-content-center p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3">
            <app-calendar-door [content]="gifts[16]"></app-calendar-door>
          </div>
        </div>
      </div>
      <div class="row justify-content-center p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3">
            <app-calendar-door [content]="gifts[12]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Forth inner col -->
    <div class="col-sm-auto m-0 p-0">
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[5]"></app-calendar-door>
          </div>
        </div>
      </div>
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[19]"></app-calendar-door>
          </div>
        </div>
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[7]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth inner col -->
    <div class="col-sm-auto m-0 p-0">
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[21]"></app-calendar-door>
          </div>
        </div>
      </div>
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[3]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Sixth inner col -->
    <div class="col-sm-auto p-0">
      <div class="row justify-content-center p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3">
            <app-calendar-door [content]="gifts[13]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Seventh inner col -->
    <div class="col-sm-auto p-0">
      <div class="row justify-content-center p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3">
            <app-calendar-door [content]="gifts[14]"></app-calendar-door>
          </div>
        </div>
      </div>
      <div class="row justify-content-center p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3">
            <app-calendar-door [content]="gifts[6]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End first outter Row -->
  <!-- Begin second outter Row -->
  <div class="row justify-content-center m-0 p-0">
    <!-- First inner col -->
    <div class="col-sm-auto m-0 p-0">
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[9]"></app-calendar-door>
          </div>
        </div>
      </div>
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[11]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Second inner col -->
    <div class="col-sm-auto m-0 p-0">
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[0]"></app-calendar-door>
          </div>
        </div>
      </div>
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[18]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Third inner col -->
    <div class="col-sm-auto m-0 p-0">
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[23]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Forth inner col -->
    <div class="col-sm-auto m-0 p-0">
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[4]"></app-calendar-door>
          </div>
        </div>
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[10]"></app-calendar-door>
          </div>
        </div>
      </div>
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[17]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth inner col -->
    <div id="test" class="col-sm-auto">
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[20]"></app-calendar-door>
          </div>
        </div>
      </div>
      <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[1]"></app-calendar-door>
          </div>
        </div>
        <div class="col-sm-auto m-0 p-0">
          <div class="container m-3 p-0">
            <app-calendar-door [content]="gifts[22]"></app-calendar-door>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
