html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 98%;
  margin:0;
  padding: 0;
  background-image: url(/assets/Hintergrundbild.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
