<div class="container h-100">
  <div class="row h-100 align-items-center">
    <div class="col">
      <div class="row m-2 p-1 justify-content-center">
        <div class="col-md-4">
          <div id="credits">
            <div class="row">
              <div class="col">
                <h1 style="font-weight: bold">@Credits:</h1>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4>Created by Maximilian Breuer</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-1 p-1 justify-content-center">
        <div class="col-md-8">
          <div id="credits">
            <div class="row">
              <div class="col">
                <h1 style="font-weight: bold">EASTER EGG!:</h1>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h4>
                  Hier befindet sich ein Easter Egg. Benutze die Knöpfe, um das
                  Aussehen die Schnelligkeit des Schnees beliebig zu verändern!
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col mb-2">
                <button
                  id="changeColor"
                  class="btn btn-primary"
                  (click)="speedChange()"
                >
                  {{ fastSnow ? "Ruhig" : "Schneesturm" }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <a class="px-4 py-2" routerLink="" routerLinkActive="active">Zurück</a>
</footer>
