<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h3>Is this the right person?</h3>
      <div class="row justify-content-center">
        <div class="col-8">
          <input
            class="form-control"
            id="password"
            type="password"
            formControlName="password"
            placeholder="Mobile first design"
          />
          <span *ngIf="displayError" style="font-size: x-small; color: red"
            >For sample login: use "1234"</span
          >
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</div>
