<div class="modal fade" id="contentModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Here placeholder for an image</div>
      <div class="modal-footer justify-content-between">
        Placeholder for caption?
      </div>
    </div>
  </div>
</div>
